apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: travelmemory
spec: 
  ports:
  - port: 3001
    protocol: TCP
    targetPort: 3001
  type: ClusterIP
  selector:
    role: api
