apiVersion: apps/v1
kind: Deployment
metadata: 
  name: backend-deployment
  namespace: travelmemory
  labels: 
    role: api
    env: demo
spec: 
  replicas: 2
  strategy: 
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector: 
    matchLabels:
      role: api
  template:
    metadata:
      labels:
        role: api
    spec:
      containers:
      - name: backend-container
        image: saiyedin786/travelmemoryshubham:backend
        imagePullPolicy: Always
        env:
          - name: PORT
            value: 3001
          - name: MONGO_URI
            value: mongodb://mongodb-svc:27017/todo?directConnection=true
          - name: MONGO_USERNAME
            valueFrom:
              secretKeyRef:
                name: mongo-sec
                key: username
          - name: MONGO_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mongo-sec
                key: password
        ports:
        - containerPort: 3001
        livenessProbe: 
          httpGet:
            path: /ok
            port: 3001
          initialDelaySeconds: 2
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /ok
            port: 3001
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 1

