apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: travelmemory
  labels:
    role: frontend
    env: demo
spec: 
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels: 
      role: frontend
  template:
    metadata:
      labels:
        role: frontend
    spec: 
      containers:
      - name: frontend
        image: saiyedin786/travelmemoryshubham:frontend
        imagePullPolicy: Always
        env:
          - name: REACT_APP_BACKEND_URL
            value: "http://hero.ismail-profile.online"
        ports:
        - containerPort: 80
