apiVersion: v1
kind: Service
metadata: 
  name: frontend-svc
  namespace: travelmemory
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  type: ClusterIP
  selector:
    role: frontend
